@font-face {
    font-family: 'Tex Gyre Heros';
    src: url('fonts/texgyreheros-regular-webfont.eot');
    src: url('fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreheros-regular-webfont.woff2') format('woff2'),
         url('fonts/texgyreheros-regular-webfont.woff') format('woff'),
         url('fonts/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyreheros-regular-webfont.svg#tex_gyre_herosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros bold';
    src: url('fonts/texgyreheros-bold-webfont.eot');
    src: url('fonts/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreheros-bold-webfont.woff2') format('woff2'),
         url('fonts/texgyreheros-bold-webfont.woff') format('woff'),
         url('fonts/texgyreheros-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyreheros-bold-webfont.svg#tex_gyre_herosbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Liberation Mono';
    src: url('fonts/LiberationMono-Regular-webfont.eot');
    src: url('fonts/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationMono-Regular-webfont.woff2') format('woff2'),
         url('fonts/LiberationMono-Regular-webfont.woff') format('woff'),
         url('fonts/LiberationMono-Regular-webfont.ttf') format('truetype'),
         url('fonts/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Liberation Mono bold';
    src: url('fonts/LiberationMono-Bold-webfont.eot');
    src: url('fonts/LiberationMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationMono-Bold-webfont.woff2') format('woff2'),
         url('fonts/LiberationMono-Bold-webfont.woff') format('woff'),
         url('fonts/LiberationMono-Bold-webfont.ttf') format('truetype'),
         url('fonts/LiberationMono-Bold-webfont.svg#liberation_monobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Liberation Mono italic';
    src: url('fonts/LiberationMono-Italic-webfont.eot');
    src: url('fonts/LiberationMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationMono-Italic-webfont.woff2') format('woff2'),
         url('fonts/LiberationMono-Italic-webfont.woff') format('woff'),
         url('fonts/LiberationMono-Italic-webfont.ttf') format('truetype'),
         url('fonts/LiberationMono-Italic-webfont.svg#liberation_monoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Tanohe Sans Regular';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Italic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Thin';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Thin.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Thin Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Light';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Light.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Light Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Medium';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans SemiBold';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-SemiBold.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans SemiBold Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-SemiBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Bold';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Black';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-Black.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Black Italic';
font-style: normal;
font-weight: normal;
src: url('fonts/TanoheSans-BlackItalic.woff') format('woff');
}
